

.modal-container:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.modal-container:closed {
  display: none;
}

.modal {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  display: block;
  background: white;
  padding: 40px;
  width: 600px;
  max-width: 100%;
  max-width: 50%;
  z-index: 1;
}



