<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <p>Welcome to our eCommerce Cart</p>
    </div>
	<script>//let discounts;</script>
	<div>
	<% include ../partials/discount %>
	</div>
</main>
<div>
<% include ../partials/modal %>
</div>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>